
/*
@import url('../fonts/Montserrat-Bold.ttf');
*/
body{
    background-image: url('../img/background.jpg');
    font-family: 'Montserrat', sans-serif;
}
.mainSection{
    height: 70vh;
}
.fontBold{
    font-weight: 700;
}
.fontExtraBold{
    font-weight: 800;
}
.brandLogo{
    width: 80%;
}
.mainText{
    font-size: 2.7rem;
    text-align: left;
    padding: 5.5rem 0 5.5rem 0;
}

.mainRightSection{
    color: white;
}
.termsAndConditions{
    margin-top: -7rem;
}
.whiteBorderedButton{
    border: 4px solid white;
    border-radius: 10px;
    font-size: 1.6rem;
}
section.instructionList{
    background-color: rgba(199, 189, 111, 0.4);
    padding: 2.5rem 0 10rem 0;
}
section.instructionList li div p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-left: 0.5rem;
}
h1.capitalizedNumber{
    font-size: 4rem;
    
}
.whiteCard{
    background-color: white;
    border-radius: 1rem;
    padding: 4.5rem 5.5rem  4rem 5.5rem;
}
.termCondition{
    color: #C7BD6F;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

ul.duplicationList {
    list-style: none; /* Remove default bullets */
}
  
ul.duplicationList li::before {
    content: "\25A0";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgba(185, 194, 121, 1); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.checkImg{
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}
.categoriesContainer{
    background-color: rgba(10, 33, 17, 0.5);
    padding-bottom: 6rem;
}
.categories > div > div > ul > li > img{
    height: 140px;
    max-width: 145px;
}
.categoriesList{
    width: 50%;
}
.categories > div > div ul li span{
    padding-right: 1rem;
    padding-left: 1rem;
}
section.nominations{
    margin-top: -4rem;
}

.nominationCard{
    background-color: white;
    border-radius: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
div.nominationForm{
    margin-left: -3rem;
}
span.nominationNumber{
    background-color: rgba(199, 189, 111, 1);
    border-radius: 10px;
    font-weight: 800;
    font-size: 0.8rem;
    color: white;
    padding: 0.8rem 0.7rem;
}
.productInput, .selectCategory, .contactInput{
    background-color:rgba(239, 239, 239, 1);
    color: rgba(188, 188, 188, 1);
    padding: 0.8rem;
    border: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(188, 188, 188, 1) !important;/* Firefox */
} 
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(188, 188, 188, 1) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(188, 188, 188, 1) !important;
}
.productInput{
    width: 90%;
}
.contactInput{
    width: 100%;
}
.navList{
    font-size: 0.8rem;
    width: 100%;
    justify-content: space-evenly;
}
@media(min-width: 1150px){
    .navList{
        font-size: 1rem;
    }
}
@media (max-width: 768px){
    .mainText{
        font-size: 1.4rem;
        text-align: center;
        padding: 1rem 2rem 3rem 2rem;
    }

    .counterList{
        padding:  0 2rem 0 2rem;
    }
    .counterList li{
        padding: 0 0.25rem 0 0.25rem;
    }

    .whiteBorderedButton{
        font-size: 0.9rem;
        border-width: 2px;
    }
    .whiteCard{
        padding: 4.5rem 1rem 0 1rem;
    }
    .checkImg{
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
    }
    .categoriesList{
        width: 100%;
    }
    .categories > div > div > ul > li {
        max-width: 100px;
    }
    .categories > div > div > ul > li > img{
        height: 70px;
        max-width: 90px;
    }
    .categories > div > div ul li span{
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 0.7rem;
        font-weight: bold;
    }
    div.nominationForm{
        margin-left: 0;
    }
    .selectCategory, .productInput, .contactInput{
        width: 95%;
    }
    .nominationCard{
        padding-top: 2.5rem;
        padding-bottom: 3rem;
    }
}
@media(min-width:768px) and (max-width: 992px){
    section.instructionList li div p{
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    section.instructionList li{
        padding-left: 0;
        padding-right: 0;
    }
    .instructionListUl li:nth-child(2){
        margin-left: -1rem;
    }
    .capitalizedNumber{
        font-size: 1.5rem;
    }
    .categoriesList{
        width: 100%;
    }
    div.nominationForm{
        margin-left: -1.5rem;
    }
    span.nominationNumber{
        font-weight: bold;
        font-size: 0.7rem;
    }
}

@media(max-width:992px){
    .mainText{
        font-size: 1.7rem;
        text-align: center;
        padding: 1rem 2rem 3rem 2rem;
    }
    .counterList{
        padding:  0 2rem 0 2rem;
    }
    .counterList li{
        padding: 0 0.25rem 0 0.25rem;
    }

    .whiteBorderedButton{
        font-size: 0.9rem;
        border-width: 2px;
    }
}
@media(min-width: 992px) and (max-width: 1200px){
    #navbarNav{
        margin-left: -2rem;
    }
    .whiteBorderedButton{
        font-size: 0.9rem;
        border-width: 2px;
    }
}
@media(min-width:1200px){
    .catList2{
        margin-left: -2rem;
    }
}
.btnSubmit{
    background: rgba(56, 212, 48, 1);
    color: white;
    font-weight: 800;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 0.5rem 3.5rem;
}
footer.footer{
    background: rgba(51, 51, 51, 1);   
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer a:hover{
    text-decoration: underline;
}
.footerTitle{
    display: block;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
.footerLinks li{
    font-size: 0.8rem;
}

@media (max-width: 572px){
    .mainSection{
        height: 100vh;
    }
}